doctype html
html
  head
    title #{title} - Techie.JS
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    link(rel='shortcut icon', href='http://37.media.tumblr.com/avatar_682523845f10_64.png', type='image/x-icon')
    
    
body
    script(type='text/javascript' src='helper.js')
    header
      h1 Techie.JS
      <div style="position: center" "cursor: hand"> 
      <img src="http://openclipart.org/image/800px/svg_to_png/182094/refresh-icon.png" width="5%" height="5%" id="refresh"/>
      </div>
      <input id="searchterm" type="text" placeholder= "Filter..." /><br>
      
    #container
      

      #main-content
        <form action="" text-align:"center">
        <input type="radio" name="newsType" value="top" id="top" font-size:"12px" text-align:"center" checked>Top
        <input type="radio" name="newsType" value="new" id="new" font-size="12px" text-align:"center">New<br>
        </form>
        p

        block content
     #sidebar
        block sidebar
    footer
      p Aggregates news from HackerNews, Lobste.rs, and Reddit.com/r/programming
      P Fork us on GitHub: https://github.com/frankcash/Techie_JS
