doctype html
html
  head
    title #{title} - Techie.JS
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
body
    script(type='text/javascript' src='helper.js')
    header
      h1 Techie.JS

    #container
      form(name="input", action="html_form_action.asp", method="get")
        | Filter: 
        input(type="text")
        input(type="submit", value="Submit")
      <br />   
      #main-content

        block content
     #sidebar
        block sidebar
    footer
      p Fork us on GitHub: https://github.com/frankcash/Techie_JS
