doctype html
html
  head
    title #{title} - Techie.JS
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
body
    script(type='text/javascript' src='helper.js')
    header
      h1 Techie.JS

    #container
      <h3>Filter:<h3>
      <input type="text" id="filterText">
      <button onclick="doFilter()">Submit</button>
      p(style='white-space:pre;')
        |<br />

      #main-content

        block content
     #sidebar
        block sidebar
    footer
      p Fork us on GitHub: https://github.com/frankcash/Techie_JS
