doctype html
html
  head
    title  HackerQueue
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")

    link(rel='shortcut icon', href="http://i.imgur.com/kX8Dmef.jpg", type='image/x-icon')



    <body ng-app="app" ng-controller="AppTest as app">
    script(type='text/javascript' src='analytics.js')
    script(type='text/javascript' src='test.js')
    header
      h1 Hacker Queue
      <div style="position: center" "cursor: hand">
      <img src="http://i.imgur.com/IQNMJ69.png" width="5%" height="5%" id="refresh"/>
      </div>
      <input id="searchterm" type="text" placeholder= "Filter..."  ng-model="searchText"/><br>
      <div id="boxes">

      <input class="check" type="checkbox" id="hnBox" name="check" checked/>
      <label class ="box"><strong>Hacker News</strong></label>

      <input class="check" type="checkbox" id="lobsterBox" name="check" checked/>
      <label class="box"><strong>Lobste.rs</strong></label>

      <input class="check" type="checkbox" id="rprogBox" name="check" checked/>
      <label class = "box"><strong>/r/programming</strong></label>
      </div>


    #container


      #main-content
        <div id="buttons">
        <form action="" id = "newsType">
        <input type="radio" name="newsType" value="top" id="top" ng-model="top">Top
        <input type="radio" name="newsType" value="new" id="new" ng-model="new">New<br>
        </form>
        </div>
        p

        block content
     #sidebar
        block sidebar

    div
      #firstFooter
        p#toTop <strong>Back to Top</strong>
    footer
      #gh-content
        p Aggregates news from HackerNews, Lobste.rs, and Reddit.com/r/programming
        <iframe src="http://ghbtns.com/github-btn.html?user=frankcash&repo=HackerQueue&type=watch&count=true"allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
