doctype html
html
  head
    title  HackerQueue
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")
    link(rel='shortcut icon', href="http://i.imgur.com/kX8Dmef.jpg", type='image/x-icon')


body
    script(type='text/javascript' src='helper.js')
    header
      h1 Hacker Queue
      <div style="position: center" "cursor: hand">
      <img src="http://i.imgur.com/IQNMJ69.png" width="5%" height="5%" id="refresh"/>
      </div>
      <input id="searchterm" type="text" placeholder= "Filter..." /><br>


    #container


      #main-content
        <div id="buttons">
        <form action="" id = "newsType">
        <input type="radio" name="newsType" value="top" id="top" checked>Top
        <input type="radio" name="newsType" value="new" id="new" >New<br>
        </form>
        </div>
        p

        block content
     #sidebar
        block sidebar

    footer
      #gh-content
        p Aggregates news from HackerNews, Lobste.rs, and Reddit.com/r/programming
        <iframe src="http://ghbtns.com/github-btn.html?user=frankcash&repo=Techie_JS&type=watch&count=true"allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
