doctype html
html
  head
    title  HackerQueue
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Quicksand')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/loading-bar.css')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js")
    script(src="http://code.jquery.com/jquery-1.11.0.min.js")

    link(rel='shortcut icon', href="http://i.imgur.com/kX8Dmef.jpg", type='image/x-icon')



    <body ng-app="app" ng-controller="AppTest as app">
    script(type='text/javascript' src='analytics.js')
    script(type='text/javascript' src='test.js')
    script(type='text/javascript' src='loading-bar.js')
    header
      <div style="position: center" "cursor: hand">
      <span id="refresh" ng-click="refresh()">Hacker Queue</span>
      </div>
      <input id="searchterm" type="text" placeholder= "Filter..."  ng-model="searchText"/><br>
      <div id="boxes" ng-init="hn = true; lobster = true; rprog = true;">

      <input class="check" type="checkbox" id="hnBox" ng-model="hn" name="check"/>
      <label class ="box"><strong>Hacker News</strong></label>

      <input class="check" type="checkbox" id="lobsterBox" ng-model="lobster" name="check"/>
      <label class="box"><strong>Lobste.rs</strong></label>

      <input class="check" type="checkbox" id="rprogBox" ng-model="rprog" name="check"/>
      <label class = "box"><strong>/r/programming</strong></label>
      </div>


    #container


      #main-content
        <div id="buttons">
        <form action="" id = "newsType">
        <input id="first" type="radio" name="content" ng-model="content" value="first">Top
        <input id="other" type="radio" name="content" ng-model="content" value="other">New<br>
        </form>
        </div>
        p

        block content
     #sidebar
        block sidebar

    div
      #firstFooter
        <p id="toTop" ng-click="goToTop()""> <strong>Back to Top</strong></p>
    footer
      #gh-content
        p Aggregates news from HackerNews, Lobste.rs, and Reddit.com/r/programming
        <iframe src="http://ghbtns.com/github-btn.html?user=frankcash&repo=HackerQueue&type=watch&count=true"allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
