extend layout

block content
  ul(style="list-style-type: none; margin-left:20px;")
    #helper

  hr

  div#top(ng-show="content == 'first'")
    ul(ng-repeat='post in posts | searchTitle: searchText track by $index')
      li#post(ng-class="{'hidden': (post.site == 'HN' && hn) || (post.site == 'lobste.rs' && lobster) || (post.site == 'r/programming' && rprog)}")
        p.link_content
          a(href='{{post.comments_link}}', target='_blank', ng-click='visitedComment=true;', ng-class='{"visited_comment_link": visitedComment}')
            img(ng-src='{{post.icon}}', alt='')
          a(href='{{post.url}}', target='_blank') {{post.title}}
    div(ng-show="!(posts | searchTitle: searchText).length")
      h2.centered Sorry, no articles were found.

  div#new(ng-show="content == 'other'")
    ul(ng-repeat='post in new_posts | searchTitle: searchText track by $index')
      li#post
        p.link_content
          a(href='{{post.comments_link}}', target='_blank', ng-click='visitedComment=true;', ng-class='{"visited_comment_link": visitedComment}')
            img(ng-src='{{post.icon}}', alt='')
          a(href='{{post.url}}', target='_blank') {{post.title}}
    div(ng-show="!(new_posts | searchTitle: searchText).length")
      h2.centered Sorry, no articles were found.