extend layout

block content
  ul(style="list-style-type: none; margin-left:20px;")
    #helper

  hr
  <div id="top" ng-show="content == 'first'" >

  <div id="hTop" ng-show="hn">
  ul(ng-repeat="post in hackerTop | filter:searchText | orderBy: 'published_at' | orderBy: 'published_at'" style="list-style-type: none; margin-left:20px;")
    <li id="post"><p class="link_content"><a href="{{post.comments_link}}" target="_blank" ng-click="visitedComment=true;" ng-class="{'visited_comment_link': visitedComment}"><img src="../assets/hn_icon_32.png"/></a><a href={{post.url}} style="text-decoration:none" target="_blank">{{post.title}}</a></p></li>
  </div>
  <div id="lTop" ng-show="lobster">
  ul(ng-repeat="post in lobTop | filter:searchText | orderBy: 'published_at'" style="list-style-type: none; margin-left:20px;")
    <li id="post"><p class="link_content"><a href="{{post.comments_link}}" target="_blank" ng-click="visitedComment=true;" ng-class="{'visited_comment_link': visitedComment}"><img src="../assets/lb_icon_32.png"/></a><a href={{post.url}} style="text-decoration:none" target="_blank">{{post.title}}</a></p></li>
  </div>
  <div id="rTop" ng-show="rprog">
  ul(ng-repeat="post in rTop | filter:searchText | orderBy: 'published_at'" style="list-style-type: none; margin-left:20px;")
    <li id="post"><p class="link_content"><a href="{{post.comments_link}}" target="_blank" ng-click="visitedComment=true;" ng-class="{'visited_comment_link': visitedComment}"><img src="../assets/rd_icon_32.png"/></a><a href={{post.url}} style="text-decoration:none" target="_blank">{{post.title}}</a></p></li>
  </div>

  </div>

  <div id="new" ng-show="content == 'other'">

  <div id="hNew" ng-show="hn">
  ul(ng-repeat="post in hackerNew | filter:searchText | orderBy: 'published_at'" style="list-style-type: none; margin-left:20px;")
    <li id="post"><p class="link_content"><a href="{{post.comments_link}}" target="_blank" ng-click="visitedComment=true;" ng-class="{'visited_comment_link': visitedComment}"><img src="../assets/hn_icon_32.png"/></a><a href={{post.url}} style="text-decoration:none" target="_blank">{{post.title}}</a></p></li>
  </div>
  <div id="lNew" ng-show="lobster">
  ul(ng-repeat="post in lNew | filter:searchText | orderBy: 'published_at'" style="list-style-type: none; margin-left:20px;")
    <li id="post"><p class="link_content"><a href="{{post.comments_link}}" target="_blank" ng-click="visitedComment=true;" ng-class="{'visited_comment_link': visitedComment}"><img src="../assets/lb_icon_32.png"/></a><a href={{post.url}} style="text-decoration:none" target="_blank">{{post.title}}</a></p></li>
  </div>
  <div id="rNew" ng-show="rprog">
  ul(ng-repeat="post in rNew | filter:searchText | orderBy: 'published_at'" style="list-style-type: none; margin-left:20px;")
    <li id="post"><p class="link_content"><a href="{{post.comments_link}}" target="_blank" ng-click="visitedComment=true;" ng-class="{'visited_comment_link': visitedComment}"><img src="../assets/rd_icon_32.png"/></a><a href={{post.url}} style="text-decoration:none" target="_blank">{{post.title}}</a></p></li>
  </div>

  </div>